%ul.nav
  %li
    = link_to "HOME", '/index'
  %li
    = link_to "ABOUT", '/about'
  %li
    = link_to "SKILLS", '/skills'
  %li
    = link_to "PROJECTS", '/projects'
  %li
    = link_to "CONTACT", '/contact'
  .photo
    %img{:src=> 'images/Andrea.png'}